@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=roboto:wght@300;400;500;600&display=swap');
:root {
    --primary: rgba(254, 44, 85, 1);
}

html {
    font: size 62.5%;
}
body {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
